/* FOOTER */

footer {
    background-color: $wBlack;
    min-height: 300px;
    border-bottom: 25px solid $wBlue;
    border-top: 8px solid $wBlue;
    padding: 30px 0 30px 0;

    a {
        color: #FFF;
    }
    a:hover {
        color: #FFF;
        font-weight: 400;
        text-decoration: none;
    }
    .fab {
        font-size: 1.2em;
    }
}

.foot {
    &__logo {
        max-width: 150px;
        margin: 20px;
    } 
    &__text {
        font-family: "Roboto";
        font-size: 0.9em;
        font-weight: 300;
    }
}

.greytext {
    color: #a0a0a0;
}

.whitetext {
    color: #FFF;
}

.bold {
    font-weight: 400;
}