/* NAVIGATION */

.nav {
    background-color: $white;
    color: $wBlack;
    border-bottom: 5px solid $wBlue;
    display: flex;
    flex-wrap: no-wrap;
    min-height: 80px;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    &__logo {
        max-width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navItem {
    margin-top: auto;
    margin-bottom: auto;
    &__logo {
        width: 40%;
    }
}
