/* NAVIGATION */

.nav {
    background-color: $white;
    color: $wBlack;
    border-bottom: 5px solid $wBlue;
    display: flex;
    flex-wrap: no-wrap;
    min-height: 100px;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    @include breakpoint(mobilesmall) {
        padding: 0 10px 0 10px;
    }
    &__logo {
        max-width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navItem {
    margin-top: auto;
    margin-bottom: auto;
    &__logo {
        max-width: 210px;
        @include breakpoint(mobilesmall) {
            width: 160px;
        }
    }
}

li a {
    color: $wBlack;
    text-transform: uppercase;
    font-family: 'roboto' !important;
    font-size: 0.97em;
    &:hover {
        color: $wBlack;
        text-decoration: none;
    }
}