.background {
    padding: 30px;
    background:url('../images/recommended.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 650px;
    margin-top: 40px;
    border-top: 5px solid $wGreen;
    border-bottom: 10px solid $wGreen;
}


.flexboxrec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recTitle {
    margin: 30px;
    margin-top: 50px;
    width: 40%;
    @include breakpoint(mobile) {
        width: 100%;
    }

    &__poster {
        margin: 0 auto;
        width: 75%;
        height: 380px;
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
        @include breakpoint(mobile) {
            width: 75%;
            height: 300px;
        }
    }

    &__year {
        font-weight: 100;
        color: $wWhite;
        font-size: 1.5em;
    }
    &__genres {
        font-weight: 100;
        color: $wGrey;
        font-size: 1.3em;
    }
}