.background {
    background:url('../images/recommended.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 650px;
    margin-top: 40px;
    border-top: 5px solid $wGreen;
    border-bottom: 10px solid $wGreen;
}

.layer {
    background-color: rgba(43, 43, 43, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.flexboxrec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recTitle {
    margin: 30px;
    margin-top: 50px;
    width: 40%;
    &__poster {
        width: 60%;
        height: auto;
        margin-bottom: 20px;
    }
    &__year {
        font-weight: 100;
        color: $wWhite;
        font-size: 1.5em;
    }
    &__genres {
        font-weight: 100;
        color: $wGrey;
        font-size: 1.3em;
    }
}